@import "tailwindcss";

:root,
[data-theme='light'] {
  --background: #ffffff;
  --foreground: #171717;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@utility nav-gradient-link {
  font-weight: 500;
  background-image: linear-gradient(90deg, #00d2ff, #3a7bd5, #1e3c72);
  background-size: 200% 100%;
  background-position: 0 0;
  background-clip: text;
  -webkit-background-clip: text;
  transition:
    color 0.3s ease,
    background-position 0.3s ease;

  &:hover {
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
}
